
.btn2{
    margin-right: 10px;
    margin-left: 70px;
}

.bgimg{
    background-image: url("https://d245heba5s672v.cloudfront.net/jie/web/images/home/home-job-search.png");
    background-repeat: no-repeat, repeat;
    background-color:rgba(255, 166, 0, 0.288);
   
    background-position: center;  
    height: 400px;  
}

.imageb{
    position: relative; 
    cursor: pointer;
    transition: background-color 0.3s ease;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    bottom: -230px;      
    
}

.btnmrgn{
    border-radius: 10px;
    height: 42px;
}
.searchbar{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(36, 30, 30);
    }
@media (min-width: 768px) {
    .serchba-div {
      display: block;
    }
  }
.search-btn{
    background-color: rgb(75, 75, 210);
    height: 44px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
div.scroll-container {
    
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
  }
  
  div.scroll-container img {
    padding: 6px;
  }
.figure1{
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 190px;
    box-shadow: 0 0 10px black;
    margin: 10px;
}
.figure1 img{
    width: 170px;
    height: 130px;
    position: relative;
    margin: 3px;

}
.video-first{  
    display: flex;
}
.first-video1{
    margin-top: 20px;
}
.video-btn2{
    margin-left: 10px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}
.second-video ul{
    list-style: square;
    margin-left: 10px;
}
.Second-employee{
    display: flex;
}
.footer{
    display: flex;
    background-color: rgb(0, 3, 6);
    justify-content: center;
    color: aliceblue;
    position: relative;
       
    
}
.footer-f-block {
    margin-left: 20px;
}

.footer ul{
    list-style: none;
}